In [1]:
import pandas as pd
import numpy as np

/home/antonioskorin/.local/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv("universities_followers.csv")
print(df.head())
print(f"Row count: {len(df)}\n\n")

# Convertimos desde notación científica
df["user_id"] = df["user_id"].astype(np.int64)
print(df.head())
print(f"Row count: {len(df)}")
df.to_csv("universities_followers_int64.csv", index = False)


df = pd.read_csv("universities_followers_int64.csv")

  university       user_id      user_name  number_tweets  friends_count  \
0    pucv_cl  7.585618e+17  SantillanaLAB           2293           1040
1    pucv_cl  4.149421e+08  rodcontrabajo             20            154
2    pucv_cl  6.821312e+07         ntejos            314            456
3    pucv_cl  1.187383e+08        edu_hhs          13611           2650
4    pucv_cl  1.260729e+18  DatosLab_UPLA              0            173

   followers_count                      created_at
0             2528  Thu Jul 28 07:16:49 +0000 2016
1               53  Thu Nov 17 17:57:02 +0000 2011
2              183  Sun Aug 23 19:14:41 +0000 2009
3             1313  Mon Mar 01 16:15:26 +0000 2010
4                4  Thu May 14 01:02:38 +0000 2020
Row count: 21070


  university              user_id      user_name  number_tweets  \
0    pucv_cl   758561835897479040  SantillanaLAB           2293
1    pucv_cl            414942137  rodcontrabajo             20
2    pucv_cl             68213121         ntejos            314
3    pucv_cl            118738304        edu_hhs          13611
4    pucv_cl  1260728998226800128  DatosLab_UPLA              0

   friends_count  followers_count                      created_at
0           1040             2528  Thu Jul 28 07:16:49 +0000 2016
1            154               53  Thu Nov 17 17:57:02 +0000 2011
2            456              183  Sun Aug 23 19:14:41 +0000 2009
3           2650             1313  Mon Mar 01 16:15:26 +0000 2010
4            173                4  Thu May 14 01:02:38 +0000 2020
Row count: 21070

In [3]:
df_pruned = df.drop_duplicates()
print(df_pruned.head())
print(f"Row count: {len(df_pruned)}")

  university              user_id      user_name  number_tweets  \
0    pucv_cl   758561835897479040  SantillanaLAB           2293
1    pucv_cl            414942137  rodcontrabajo             20
2    pucv_cl             68213121         ntejos            314
3    pucv_cl            118738304        edu_hhs          13611
4    pucv_cl  1260728998226800128  DatosLab_UPLA              0

   friends_count  followers_count                      created_at
0           1040             2528  Thu Jul 28 07:16:49 +0000 2016
1            154               53  Thu Nov 17 17:57:02 +0000 2011
2            456              183  Sun Aug 23 19:14:41 +0000 2009
3           2650             1313  Mon Mar 01 16:15:26 +0000 2010
4            173                4  Thu May 14 01:02:38 +0000 2020
Row count: 21056

In [4]:
duplicate_ids = df_pruned["user_id"].duplicated()
duplicate_usernames = df_pruned["user_name"].duplicated()

print("Filas donde hay duplicados de id: ")
print(duplicate_ids[duplicate_ids].index)
print("Filas donde hay duplicados de user_name: ")
print(duplicate_usernames[duplicate_usernames].index)


print("\n\nCuentas de duplicados en total: ")
dup_id_count = duplicate_ids.value_counts()
dup_usernames_count = duplicate_usernames.value_counts()
print(dup_id_count)
print(dup_usernames_count)

Filas donde hay duplicados de id:
Index([11071, 11075, 11081, 11083, 11087, 11091, 11093, 11104, 11108, 11124,
       ...
       20968, 20972, 20975, 20998, 21003, 21010, 21023, 21029, 21034, 21061],
      dtype='int64', length=1148)
Filas donde hay duplicados de user_name:
Index([11071, 11075, 11081, 11083, 11087, 11091, 11093, 11104, 11108, 11124,
       ...
       20968, 20972, 20975, 20998, 21003, 21010, 21023, 21029, 21034, 21061],
      dtype='int64', length=1148)


Cuentas de duplicados en total:
user_id
False    19908
True      1148
Name: count, dtype: int64
user_name
False    19908
True      1148
Name: count, dtype: int64

In [5]:
dups = set()
for idx in duplicate_usernames[duplicate_usernames].index:
    username = df_pruned["user_name"][idx]
    dups.add(username)
print("Cantidad de usuarios que se repiten: ")
print(len(dups))

Cantidad de usuarios que se repiten:
838

In [6]:
df_pruned = df.drop_duplicates(subset=["user_id", "user_name"], keep="first")
# shuffleamos el dataset por si acaso
df_final = df_pruned.sample(frac=1).reset_index(drop=True)
print(df_final.head())

df_final.to_csv("universities_followers_no_dups.csv", index = False)

  university              user_id        user_name  number_tweets  \
0    pucv_cl            612060532         SnzEliza              4
1    pucv_cl           2659982316     Encantos_Qta             49
2     uchile  1266254819074789888  AnaGmezVallejo1              0
3    pucv_cl            963577194  JoseArayaMallea            440
4    pucv_cl            512176176  QuintaCondones1              0

   friends_count  followers_count                      created_at
0            279               12  Mon Jun 18 22:32:02 +0000 2012
1           1924              343  Sat Jul 19 17:22:26 +0000 2014
2             11                0  Fri May 29 06:27:45 +0000 2020
3           2034              135  Thu Nov 22 04:04:03 +0000 2012
4             12                2  Fri Mar 02 16:50:14 +0000 2012